numpy==1.19.5#1.22
future==0.18.2
mock==3.0.5
onnx
keras_preprocessing==1.1.2
keras_applications==1.0.8
gast==0.4.0
protobuf
pandas
pybind11
cython
pkgconfig
packaging
h5py==3.7.0
testresources
setuptools==65.5.0
scikit-learn==1.3.2